.up {
    grid-area: u;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.up:active {
    transform: translateY(1px);
}

.down {
    grid-area: d;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.down:active {
    transform: translateY(-1px);
}

.left {
    grid-area: l;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.left:active {
    transform: translateX(1px);
}

.right {
    grid-area: r;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.right:active {
    transform: translateX(-1px);
}

.center-wrapper {
    grid-area: c;
    background-color: #585858;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.center {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.d-pad {
    display: grid;
    grid-template-columns: 20px 20px 30px 20px 20px;
    grid-template-rows: 20px 20px 30px 20px 20px;
    grid-template-areas: 
                        '. . u . .'
                        '. . u . .'
                        'l l c r r'
                        '. . d . .'
                        '. . d . .';
}