.up {
    grid-area: u;
    border-bottom: none;
}
.down {
    grid-area: d;
    border-top: none;
}
.left {
    grid-area: l;
    border-right: none;
}
.right {
    grid-area: r;
    border-left: none;
}
.center-wrapper {
    grid-area: c;
    background-color: #585858;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.d-pad {
    display: grid;
    grid-template-columns: 20px 20px 30px 20px 20px;
    grid-template-rows: 20px 20px 30px 20px 20px;
    grid-template-areas: 
                        '. . u . .'
                        '. . u . .'
                        'l l c r r'
                        '. . d . .'
                        '. . d . .';
}