.left-panel {
    width: min-content;
    background-color: #FE0065;
    border: 3px solid #000000;
    border-radius: 15px 15px 0 15px;
}

.nav-lights {
    display: flex;
    padding-bottom: 10px;
}