
.left-panel {
    width: min-content;
    height: 550px;
    background-color: #FE0065;
    border: 3px solid #000000;
    border-radius: 15px 15px 0 15px;
}

.nav-lights {
    display: flex;
    padding-bottom: 10px;
}

.screen-container {
    padding: 10px 50px;
}

.bottom-buttons{
    padding:15px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 15px;
}