.light {
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.light.border {
    background-color: #FFFFFF;
}

.light.red {
    background-color: #F4062D;
}
.light.yellow {
    background-color: #FECB65;
}
.light.green {
    background-color: #32CA64;
}

.light.blue {
    background-color: #3298CB;
}

.light.xsmall {
    height: 12px;
    width: 12px;
    border: 2px solid #000000
}

.light.small {
    height: 17px;
    width: 17px;
    border: 2px solid #000000
}

.light.medium {
    height: 25px;
    width: 25px;
    border: 2px solid #000000
}

.light.xlarge {
    height: 75px;
    width: 75px;
    border: 3px solid #000000
}

.light.border.xlarge {
    height: 90px;
    width: 90px;
}

.reflex {
    background-color: #ffffff87;
    position: relative;
}

.reflex-xsmall{
    height: 4px;
    width: 4px;
    top: -3px;
    left: -3px;
}

.reflex-small {
    height: 6px;
    width: 6px;
    top: -3px;
    left: -2px;
}
.reflex-medium {
    height: 8px;
    width: 8px;
    top: -2px;
    left: 0px;
}
.reflex-xlarge {
    height: 20px;
    width: 20px;
    top: 6px;
    left: 6px;
}