.hole {
    border-radius: 50%;
    display: inline-block;
}

.hole.small{
    height: 3px;
    width: 3px;
    border: 1px solid #000000;
    margin: 2px;
}

.hole.large {
    height: 7px;
    width: 7px;
    border: 1px solid #000000;
    margin: 5px;
}

.hole.red {
    background-color: #F4062D;
}

.hole.black {
    background-color: #000000;
}