@font-face {
    font-family: "PokemonSolidNormal";
    src: local("PokemonSolidNormal"),
        url("./fonts/PokemonSolidNormal.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "PokemonGB";
    src: local("PokemonGB"),
        url("./fonts/PokemonGB.ttf") format("truetype");
    font-weight: normal;
}